<!DOCTYPE html>

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Daily Nourish</title>
    <meta name="description" content="OREN is responsive multi-purpose HTML5 template compatible with Bootstrap 4. Take your Startup business website to the next level. It is designed for agency, creative studio, freelance, personal, corporate digital, businesses or any type of person or business who wants to showcase their work, services and professional way.">
    <meta name="keywords" content="agency, business, corporate, creative studio, freelance, gradient, multipurpose. photography, parallax, personal, responsive">
    <meta name="author" content="rometheme.net"> 
	
	<!-- ==============================================
	Favicons
	=============================================== -->
        <link rel="shortcut icon" href="/indexdesign/images/logo.png">
	<link rel="apple-touch-icon" href="/indexdesign/images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/indexdesign/images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/indexdesign/images/apple-touch-icon-114x114.png">
	
	<!-- ==============================================
	CSS VENDOR
	=============================================== -->
	<link rel="stylesheet" type="text/css" href="/indexdesign/css/vendor/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/indexdesign/css/vendor/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/indexdesign/css/vendor/owl.carousel.min.css">
	<link rel="stylesheet" type="text/css" href="/indexdesign/css/vendor/owl.theme.default.min.css">
	<link rel="stylesheet" type="text/css" href="/indexdesign/css/vendor/magnific-popup.css">
	<link rel="stylesheet" type="text/css" href="/indexdesign/css/vendor/animate.min.css">
	
	<!-- ==============================================
	Custom Stylesheet
	=============================================== -->
	<link rel="stylesheet" type="text/css" href="/indexdesign/css/style.css" />
	
    <script src="/indexdesign/js/vendor/modernizr.min.js"></script>

</head>

<body>

	<!-- LOAD PAGE -->
	<div class="animationload">
		<div class="loader"></div>
	</div>
	
	<!-- BACK TO TOP SECTION -->
	<a href="#0" class="cd-top cd-is-visible cd-fade-out">Top</a>
    <div class="header header-1">

        <!-- NAVBAR SECTION -->
        <div class="navbar-main">
            <div class="container">
                <nav id="navbar-example" class="navbar navbar-expand-lg">
                    <a class="navbar-brand" href="index.php">
                        <img src="/indexdesign/images/logo.png" alt="" />
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        
    
                       
                    </div>
                </nav> <!-- -->
    
            </div>
        </div>
    
    </div>
    <!-- BANNER -->
    <div id="oc-fullslider" class="banner owl-carousel">
        <div class="owl-slide">
            <div class="item">
                <img src="/indexdesign/images/home02.jpg" alt="Slider">
                <div class="slider-pos">
                    <div class="container">
                        <div class="wrap-caption text-center">
                            <h1 class="caption-heading">Welcome To <br>Daily Nourish</h1>
                            <p class="">Awesome Business skills!</p>
                            <a href="index.php" class="btn btn-primary">Home</a> <a href="contact.php" class="btn btn-ghost-light">Contact</a>
                        </div>  
                    </div>
                </div>
            </div>  
        </div>
        <div class="owl-slide">
            <div class="item">
                <img src="/indexdesign/images/home02.jpg" alt="Slider">
                <div class="slider-pos">
                    <div class="container">
                        <div class="wrap-caption">
                            <h1 class="caption-heading">Start Your Business<br>Daily Nourish</h1>
                            <p class="">Awesome business without any Charge!</p>
                            <a href="index.php" class="btn btn-primary">Home</a> <a href="contact.php" class="btn btn-ghost-light">Contact</a>
                        </div>  
                    </div>
                </div>
            </div>  
        </div>

    </div>

    <div class="clearfix"></div>

    <!-- ABOUT -->
    <div class="section">
        <div class="content-wrap">
            <div class="container">
                <div class="row mb-5">
                    <div class="col-sm-12 col-md-12">

                        <h2 class="section-heading text-primary text-center no-after mb-4">
                            Welcome to Daily Nourish.
                        </h2>
                        <p class="subheading text-center mb-4">We provide high standar clear for your business solutions</p>
                    </div>					
                </div>
                <div class="row">
                    <!-- Item 1 -->
                    <div class="col-sm-12 col-md-12 col-lg-4">
                        <div class="rs-icon-info-3">
                            <div class="info-icon">
                                <i class="fa fa-trophy"></i>
                                <h4 class="text-black">Best In Daily Nourish</h4>
                            </div>
                            <div class="info-text">
                                Daily Nourish is a strategy that some direct E-commerce Grocery companies use to encourage existing distributors to recruit new distributors.
                            </div>
                        </div>
                    </div>
                    <!-- Item 2 -->
                    <div class="col-sm-12 col-md-12 col-lg-4">
                        <div class="rs-icon-info-3">
                            <div class="info-icon">
                                <i class="fa fa-users"></i>
                                <h4 class="text-black">Creative Team</h4>
                            </div>
                            <div class="info-text">
                                We help in all aspect of Strategic and financial management to achieve Growth & address Risk managements..
                            </div>
                        </div>
                    </div>
                    <!-- Item 3 -->
                    <div class="col-sm-12 col-md-12 col-lg-4">
                        <div class="rs-icon-info-3">
                            <div class="info-icon">
                                <i class="fa fa-rocket"></i>
                                <h4 class="text-black">Awesome Support</h4>
                            </div>
                            <div class="info-text">
                                We structure finance in line with Business model using alternative methods.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>	

    <!-- WHO WE ARE -->
   

    <!-- PORTFOLIO -->
    <div id="projects">
        <div class="content-wrap">
            <div class="container">

                <div class="row mb-5">
                    <div class="col-sm-12 col-md-12">
                        <h2 class="section-heading text-center text-primary no-after mb-5">
                            Recent Works
                        </h2>
                        <p class="subheading text-center">We provide high standar clean website for your business solutions</p>
                    </div>
                </div>

                <div class="row popup-gallery gutter-5">
                    <div class="col-12 col-sm-6 col-md-4">
                        <div class="box-gallery">
                            <a href="/indexdesign/images/img/1.png" title="Gallery #1">
                                <img src="/indexdesign/images/img/1.png" alt="" class="img-fluid">
                                <div class="project-info">
                                    <div class="project-icon">
                                        <span class="fa fa-search"></span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4">
                        <div class="box-gallery">
                            <a href="/indexdesign/images/img/2.png" title="Gallery #2">
                                <img src="/indexdesign/images/img/2.png" alt="" class="img-fluid">
                                <div class="project-info">
                                    <div class="project-icon">
                                        <span class="fa fa-search"></span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4">
                        <div class="box-gallery">
                            <a href="/indexdesign/images/img/3.png" title="Gallery #3">
                                <img src="/indexdesign/images/img/3.png" alt="" class="img-fluid">
                                <div class="project-info">
                                    <div class="project-icon">
                                        <span class="fa fa-search"></span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>


                </div>


            </div>
        </div>
    </div>


    <!-- MEET OREN TEAM -->
    


    <!-- FUN FACT -->
    <div class="section">
        <div class="content-wrap">
            <div class="container">

                <div class="row">

                    <!-- Item 1 -->
                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <div class="rs-icon-funfact">
                            <div class="icon">
                                <i class="fa fa-rocket"></i>
                            </div>
                            <div class="body-content">
                                <h2 class="text-black">35000</h2>
                                <p class="uk18">Available Product</p>
                            </div>
                        </div>
                    </div>

                    <!-- Item 2 -->
                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <div class="rs-icon-funfact">
                            <div class="icon">
                                <i class="fa fa-trophy"></i>
                            </div>
                            <div class="body-content">
                                <h2 class="text-black">5</h2>
                                <p class="uk18">Winner Awards</p>
                            </div>
                        </div>
                    </div>

                    <!-- Item 3 -->
                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <div class="rs-icon-funfact">
                            <div class="icon">
                                <i class="fa fa-users"></i>
                            </div>
                            <div class="body-content">
                                <h2 class="text-black">27</h2>
                                <p class="uk18">Team Creative</p>
                            </div>
                        </div>
                    </div>

                    <!-- Item 4 -->
                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <div class="rs-icon-funfact">
                            <div class="icon">
                                <i class="fa fa-coffee"></i>
                            </div>
                            <div class="body-content">
                                <h2 class="text-black">815</h2>
                                <p class="uk18">Clients Order</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- OUR CLIENTS -->


    <!-- OUR ARTICLES -->


    <!-- FOOTER SECTION -->
    <div class="footer">
		<div class="content-wrap">
			<div class="container">
				
				<div class="row">
					<div class="col-sm-12 col-md-4 col-lg-6">
						<div class="footer-item">
							<img src="/indexdesign/images/logo.png" alt="logo bottom" class="logo-bottom">
							<div class="spacer-20"></div>
							<p>Daily Nourish is a strategy that some direct sales companies use to encourage existing distributors to recruit new distributors.</p>
							<div class="spacer-20"></div>
							<div class="sosmed-icon bg-round d-inline-flex">
								<a href="#"><i class="fa fa-facebook"></i></a> 
								<a href="#"><i class="fa fa-twitter"></i></a> 
								<a href="#"><i class="fa fa-instagram"></i></a> 
								<a href="#"><i class="fa fa-pinterest"></i></a> 
								<a href="#"><i class="fa fa-linkedin"></i></a> 
							</div>
						</div>
					</div>

					<div class="col-sm-12 col-md-4 col-lg-3">
						<div class="footer-item">
							<div class="footer-title">
								Contact Info
							</div>
							
							<ul class="list-info">
								<li>
									<div class="info-icon text-primary">
										<span class="fa fa-map-marker"></span>
									</div>
									<div class="info-text">Daily Nourish</div> 
								</li>
								<li>
									<div class="info-icon text-primary">
										<span class="fa fa-phone"></span>
									</div>
									<div class="info-text">7080907009</div>
								</li>
								<li>
									<div class="info-icon text-primary">
										<span class="fa fa-envelope"></span>
									</div>
									<div class="info-text">yourdailynourish@gmail.Com</div>
								</li>
							</ul>
						</div>
					</div>

					<div class="col-sm-12 col-md-4 col-lg-3">
						<div class="footer-item">
							<div class="footer-title">
								Userful Link
							</div>
							<p>Our support available to help you 24 hours a day. We provide our best.</p>
							<!-- <ul class="list">
                                                            <li><a href="abouts.php" title="About us">About</a></li>
                                                            <li><a href="Team.php" title="Couses">Services</a></li>
                                                            <li><a href="services.php" title="Services">Term</a></li>
                                                            <li><a href="gallery.php" title="Careers">Privacy Policy</a></li>
                                                            <li><a href="contact.php" title="Contact">Contact</a></li>
							</ul> -->

						</div>
					</div>					

				</div>
			</div>
		</div>
		
		<div class="fcopy">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 col-md-12">
						<p class="ftex">&copy; 2021 <span class="text-primary">Daily Nourish</span>. All Rights Reserved. Designed By <span class="text-primary">Daily Nourish</span></p> 
					</div>
				</div>
			</div>
		</div>
		
	</div>
	
    <!-- JS VENDOR -->
    <script src="/indexdesign/js/vendor/jquery.min.js"></script>
    <script src="/indexdesign/js/vendor/bootstrap.min.js"></script>
    <script src="/indexdesign/js/vendor/owl.carousel.js"></script>
    <script src="/indexdesign/js/vendor/jquery.magnific-popup.min.js"></script>
    <script src="/indexdesign/js/vendor/isotope.pkgd.min.js"></script>
    <script src="/indexdesign/js/vendor/imagesloaded.pkgd.min.js"></script>

    <!-- SENDMAIL -->
    <script src="/indexdesign/js/vendor/validator.min.js"></script>
    <script src="/indexdesign/js/vendor/form-scripts.js"></script>

    <script src="/indexdesign/js/script.js"></script>

</body>

