<!--==========================
  Header
  ============================-->
  <header id="header" class="myheader">

    <div id="topbar">
      <div class="container">
        <div class="social-links">
          <a href="https://twitter.com/FileMakr" class="twitter"><i class="fa fa-twitter"></i></a>
          <a href="https://www.facebook.com/FileMakr" class="facebook"><i class="fa fa-facebook"></i></a>
          <a href="https://www.instagram.com/filemakr" class="instagram"><i class="fa fa-instagram"></i></a>
          <!--<a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>-->
        </div>
      </div>
    </div>

    <div class="container">

      <div class="logo float-left">
        <!-- Uncomment below if you prefer to use an image logo -->
        <h1 class="text-light"><a href="/" class="scrollto"><span>lapify</span></a></h1>
        <!-- <img src='/images/logo.png' style="width: 100px;height: 100px;"> -->

      </div>

      <nav class="main-nav float-right d-none d-lg-block">
        <ul>
          <li class="active"><a href="/">Home</a></li>
          <li class=""><a href="/sell-old-laptop">Sell Laptop</a></li>
          <li class=""><a href="/sell-old-desktop">Sell Desktop</a></li>
          <li class=""><a href="/sell-old-accessories">Accessories</a></li>
          <li class=""><a href="/enquiry">Repair & Services</a></li>

          
        
          <!-- <li><a href="/make-your-own-project" class="btn-get-started scrollto">Make your own project</a></li> -->

        </ul>
      </nav><!-- .main-nav -->

    </div>
  </header><!-- #header -->
