<%- include ('./adminheader.ejs') %>
      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <div class="section-body">
            <div class="row">
              <div class="col-12 col-md-12 col-lg-12">
                <div class="card insertdiv" id='insertdiv'>
                  <div class="card-header">
                    <h4>New Specification </h4>
                  </div>
                  <div class="card-body">
                  
                      <div class="row">
                          <div class="col-lg-4 col-md-6 col-sm-12">
                            <label>Specification Type</label>
                            <select class="form-control" id="name">
                                <option value="Ram">RAM</option>
                                <option value="Hard Disk">Hard Disk</option>
                                <option value="Processor">Processor</option>
                                <option value="Screen Size">Screen Size</option>
                                <option value="Graphics Card">Graphics Card</option>

                                <option value="year">Year</option>

                            </select>
                              
                          </div>


                          <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Specification Storage</label>
                                <input type="text" class="form-control" id="value" required>
                              </div>
                              </div>


                          <div class="col-lg-4 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Specifiction Value</label>
                                <input type="text" class="form-control" id="price" required>
                              </div>
                              
                          </div>



                         


                      </div>
                  

                    
              
                  
                  </div>
                  <div class="card-footer text-right">
                    <button class="btn btn-primary mr-1 submit" type="button">Submit</button>
                    <button class="btn btn-danger mr-1 show" id="show" type="button" >Show All Hardware</button>
                  </div>
              
                </div>
            
                
                
<div class="card mb-4" id='result'></div>



<div class="card mb-4" id='editdiv'>
    <h6 class="card-header"><span><button type="button" class="btn btn-primary show" id="back1" style="margin:10px">Back</button></span>Edit Data</h6>
    <div class="card-body">
    
        <form>
            <div class="form-row">
    
    
                <div class="form-group col-md-4">
                    <label class="form-label">ID</label>
                    <input type="text" class="form-control" placeholder="Email" id="pid" readonly>
                    <div class="clearfix"></div>
                    </div>
    
            <div class="form-group col-md-4">
            <label class="form-label">Specification Type</label>
            <select class="form-control" id="pname" name="pname">
              <option value="Ram">RAM</option>
              <option value="Hard Disk">Hard Disk</option>
              <option value="Processor">Processor</option>
              <option value="Screen Size">Screen Size</option>
              <option value="year">Year</option>
              <option value="Graphics Card">Graphics Card</option>

              


          </select>
            <div class="clearfix"></div>
            </div>
         


            <div class="form-group col-md-4">
              <label class="form-label">Hardware Storage</label>
              <input type="text" class="form-control" placeholder="storage" id="pvalue">
              <div class="clearfix"></div>
              </div>

            <div class="form-group col-md-4">
              <label class="form-label">Hardware price</label>
              <input type="text" class="form-control" placeholder="price" id="pprice">
              <div class="clearfix"></div>
              </div>

            </div>
            
          
            
            <button type="button" id='update' class="btn btn-primary">Submit</button>
            </form>
    </div>
    </div>
    
    
    
    <div class="card mb-4" id="updateimagediv">
    <h6 class="card-header"><span><button type="button" class="btn btn-primary show" id="back2" style="margin:10px">Back</button></span> Upload Image</h6>
    <div class="card-body">
    
        <form action="/brand/update_image" method="POST" enctype="multipart/form-data">
            <div class="form-row">
       
                <div class="form-group col-md-6">
                    <label class="form-label">ID</label>
                    <input type="text" class="form-control" placeholder="Email" id="peid" name="id" readonly>
                    <div class="clearfix"></div>
                    </div>
    
    
            <div class="form-group col-md-6">
            <label class="form-label">Image</label>
            <input type="file" class="form-control" name='image' placeholder="Password">
            <div class="clearfix"></div>
            </div>
            </div>
            
            
            <button type="submit" class="btn btn-primary">Submit</button>
            </form>
    </div>
    </div>
    
            
              </div>
             
            </div>
          </div>
        </section>
        <div class="settingSidebar">
          <a href="javascript:void(0)" class="settingPanelToggle"> <i class="fa fa-spin fa-cog"></i>
          </a>
       
        </div>
      </div>
      
    </div>
  </div>
  <!-- General JS Scripts -->
  <script src="/light/assets/js/app.min.js"></script>   
  <!-- JS Libraies -->
  <!-- Page Specific JS File -->
  <!-- Template JS File -->
  <script src="/light/assets/js/scripts.js"></script>
  <!-- Custom JS File -->
  <script src="/light/assets/js/custom.js"></script>


  <script src="/javascripts/specification.js"></script>

  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
  <script>
  
    $('.uploadImage').submit(function (e) {
      e.preventDefault();
  
      // var title = $('#title').val(); 
  
      $(this).ajaxSubmit({
        // data: {title: title},
        contentType: 'application/json',
        success: function (response) {
          alert('successfully')
        }
      });
      return false;
    });
  









$('.submit').click(function(){
   
  if($('#storage').val()==[] || $('#storage').val() == '') alert('Enter Hardware Storage Value')
   else if($('#value').val()==[] || $('#value').val() == '') alert('Enter Selected Hardware Value')
  else {
      const name = $('#name').val();
      const value = $('#value').val();
      const price = $('#price').val();

$.post('/specification/insert',{name,value,price},data=>{
  alert('Successfully Inserted')
})


    }
})



  
  
  </script>

</body>


</html>