<%- include ('./adminheader.ejs') %>
      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <div class="section-body">
            <div class="row">
              <div class="col-12 col-md-12 col-lg-12">
                <div class="card insertdiv" id='insertdiv'>
                  <div class="card-header">
                    <h4>New Model </h4>
                  </div>
                  <form action="/model/insert" method="POST" enctype="multipart/form-data" class="uploadImage">
                  <div class="card-body">
                  
                      <div class="row">
                          <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Brand Name</label>
                               <select name="brandid" id="brandid" class="form-control"></select>
                              </div>
                              
                          </div>
                          <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <label>Model Name</label>
                                <input type="text" class="form-control" name="name" required>
                              </div>
                              
                          </div>
                      </div>
                  

                      <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                          <div class="form-group">
                              <label>Price</label>
                              <input type="text" class="form-control" name="price" required>
                            </div>
                            
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                          <div class="form-group">
                              <label>Model Image</label>
                              <input type="file" class="form-control" name="image" required>
                            </div>
                            
                        </div>
                    </div>








                    <div class="row">
                      
                      <div class="col-lg-3 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label>Touchscreen Prize Available</label>
                            <input type="text" class="form-control" name="touchscreen_prize_available" required>
                          </div>
                          
                      </div>



                      <div class="col-lg-3 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label>Touchscreen Prize Not Available</label>
                            <input type="text" class="form-control" name="touchscreen_prize_not_avaialble" required>
                          </div>
                          
                      </div>

                      <div class="col-lg-3 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label>Graphics Card Price Available</label>
                            <input type="text" class="form-control" name="graphics_card_available" required>
                          </div>
                          
                      </div>



                      <div class="col-lg-3 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label>Graphics Card Price Not Available</label>
                            <input type="text" class="form-control" name="graphics_card_not_available" required>
                          </div>
                          
                      </div>

                      <div class="col-lg-6 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label>Screen (Working/Not Working) Price</label>
                            <input type="text" class="form-control" name="scree_not_working" required>
                          </div>
                          
                      </div>



                      <div class="col-lg-6 col-md-4 col-sm-12">
                        <div class="form-group">
                            <label>Laptop Switch Off Price</label>
                            <input type="text" class="form-control" name="laptop_switch_off" required>
                          </div>
                          
                      </div>

                      
                  </div>





                  <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-12">
                      <div class="form-group">
                          <label>Keyboard Not Working Price</label>
                          <input type="text" class="form-control" name="keyboard_not_working" required>
                        </div>
                        
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-12">
                      <div class="form-group">
                          <label>Touchpad Not Working Prize</label>
                          <input type="text" class="form-control" name="touchpad_not_working" required>
                        </div>
                        
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-12">
                      <div class="form-group">
                          <label>Battery Dead Price</label>
                          <input type="text" class="form-control" name="battery_dead" required>
                        </div>
                        
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-12">
                      <div class="form-group">
                          <label>Speaker Not Working Price</label>
                          <input type="text" class="form-control" name="speaker_not_working" required>
                        </div>
                        
                    </div>
                    
                </div>





                <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="form-group">
                        <label>Wifi Not Working Price</label>
                        <input type="text" class="form-control" name="wifi_not_working" required>
                      </div>
                      
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="form-group">
                        <label>Wire Cut Prize</label>
                        <input type="text" class="form-control" name="wire_cut" required>
                      </div>
                      
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class="form-group">
                        <label>Webcam Not Working Price</label>
                        <input type="text" class="form-control" name="webcam_not_working" required>
                      </div>
                      
                 
                 
                      
                  </div>
                  
              </div>






              <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12">
                  <div class="form-group">
                    <label>Less than 1 year (in warranty)</label>
                    <input type="text" class="form-control" name="age" required>
                  </div>
                    
                </div>


                <div class="col-lg-4 col-md-4 col-sm-12">
                  <div class="form-group">
                    <label>Between 1 and 3 years</label>
                    <input type="text" class="form-control" name="age1" required>
                  </div>
                    
                </div>


                <div class="col-lg-4 col-md-4 col-sm-12">
                  <div class="form-group">
                    <label>More than 3 years</label>
                    <input type="text" class="form-control" name="age2" required>
                  </div>
                    
                </div>
               
                
            </div>





            <div class="row">
              <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="form-group">
                  <label>Good Condition</label>
                  <input type="text" class="form-control" name="condition" required>
                </div>
                  
              </div>


              <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="form-group">
                  <label>Average Condition</label>
                  <input type="text" class="form-control" name="condition1" required>
                </div>
                  
              </div>


              <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="form-group">
                  <label>Below Average Condition</label>
                  <input type="text" class="form-control" name="condition2" required>
                </div>
                  
              </div>


              <div class="col-lg-3 col-md-4 col-sm-12">
                  <div class="form-group">
                  <label>Extended Condition</label>
                  <input type="text" class="form-control" name="condition3" required>
                </div>
              </div>
             
              
          </div>






          <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-12">
              <div class="form-group">
                <label>10 Inch Screen Size Price</label>
                <input type="text" class="form-control" name="s10_inch" required>
              </div>
                
            </div>


            <div class="col-lg-3 col-md-4 col-sm-12">
              <div class="form-group">
                <label>12 Inch Screen Size Price</label>
                <input type="text" class="form-control" name="s12_inch" required>
              </div>
                
            </div>


            <div class="col-lg-3 col-md-4 col-sm-12">
              <div class="form-group">
                <label>13 Inch Screen Size Price</label>
                <input type="text" class="form-control" name="s13_inch" required>
              </div>
                
            </div>


            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="form-group">
                <label>14 Inch Screen Size Price</label>
                <input type="text" class="form-control" name="s14_inch" required>
              </div>
            </div>


           
            
        </div>

        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="form-group">
              <label>15 Inch Screen Size Price</label>
              <input type="text" class="form-control" name="s15_inch" required>
            </div>
              
          </div>


         

         
          
      </div>
                
              
                  
                  </div>
                  <div class="card-footer text-right">
                    <button class="btn btn-primary mr-1" type="submit">Submit</button>
                    <button class="btn btn-danger mr-1 show" id="show" type="button" >Show All Model</button>
                  </div>
                  </form>
                </div>
            
                
                
<div class="card mb-4" id='result'></div>



<div class="card mb-4" id='editdiv'>
    <h6 class="card-header"><span><button type="button" class="btn btn-primary show" id="back1" style="margin:10px">Back</button></span>Edit Data</h6>
    <div class="card-body">
    
        <form>
            <div class="form-row">
    
    
                <div class="form-group col-md-6">
                    <label class="form-label">ID</label>
                    <input type="text" class="form-control" placeholder="Email" id="pid" readonly>
                    <div class="clearfix"></div>
                    </div>
    
            <div class="form-group col-md-6">
            <label class="form-label">Brand Name</label>
           <select id="pbrandid" class='form-control'></select>
            <div class="clearfix"></div>
            </div>
         
            </div>
            
            <div class="form-row">
    
    
              <div class="form-group col-md-6">
                  <label class="form-label">Subcategory Name</label>
                  <input type="text" class="form-control" placeholder="Email" id="pname">
                  <div class="clearfix"></div>
                  </div>
  
          <div class="form-group col-md-6">
          <label class="form-label">Price</label>
          <input type="text" class="form-control" placeholder="Email" id="pprice">
          <div class="clearfix"></div>
          </div>
       
          </div>
            





          <div class="row">
           
            <div class="col-lg-3 col-md-4 col-sm-12">
              <div class="form-group">
                  <label>Touchscreen Prize Available</label>
                  <input type="text" class="form-control" id="ptouchscreen_prize_available" required>
                </div>
                
            </div>

            <div class="col-lg-3 col-md-4 col-sm-12">
              <div class="form-group">
                  <label>Touchscreen Prize Not Available</label>
                  <input type="text" class="form-control" id="ptouchscreen_prize_not_available" required>
                </div>
                
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12">
              <div class="form-group">
                  <label>Graphics Card Price (Available)</label>
                  <input type="text" class="form-control" id="pgraphics_card_available" required>
                </div>
                
            </div>



            <div class="col-lg-3 col-md-4 col-sm-12">
              <div class="form-group">
                  <label>Graphics Card Price (Not Available)</label>
                  <input type="text" class="form-control" id="pgraphics_card_not_available" required>
                </div>
                
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="form-group">
                  <label>Screen (Working/Not Working) Price</label>
                  <input type="text" class="form-control" id="pscree_not_working" required>
                </div>
                
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="form-group">
                  <label>Laptop Switch Off Price</label>
                  <input type="text" class="form-control" id="plaptop_switch_off" required>
                </div>
                
            </div>
            
        </div>





        <div class="row">
          <div class="col-lg-3 col-md-4 col-sm-12">
            <div class="form-group">
                <label>Keyboard Not Working Price</label>
                <input type="text" class="form-control" id="pkeyboard_not_working" required>
              </div>
              
          </div>
          <div class="col-lg-3 col-md-4 col-sm-12">
            <div class="form-group">
                <label>Touchpad Not Working Prize</label>
                <input type="text" class="form-control" id="ptouchpad_not_working" required>
              </div>
              
          </div>
          <div class="col-lg-3 col-md-4 col-sm-12">
            <div class="form-group">
                <label>Battery Dead Price</label>
                <input type="text" class="form-control" id="pbattery_dead" required>
              </div>
              
          </div>
          <div class="col-lg-3 col-md-4 col-sm-12">
            <div class="form-group">
                <label>Speaker Not Working Price</label>
                <input type="text" class="form-control" id="pspeaker_not_working" required>
              </div>
              
          </div>
          
      </div>





      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="form-group">
              <label>Wifi Not Working Price</label>
              <input type="text" class="form-control" id="pwifi_not_working" required>
            </div>
            
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="form-group">
              <label>Wire Cut Prize</label>
              <input type="text" class="form-control" id="pwire_cut" required>
            </div>
            
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
          <div class="form-group">
              <label>Webcam Not Working Price</label>
              <input type="text" class="form-control" id="pwebcam_not_working" required>
            </div>
            
        </div>
        
        
    </div>



    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="form-group">
          <label>Less than 1 year (in warranty)</label>
          <input type="text" class="form-control" id="page" required>
        </div>
          
      </div>


      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="form-group">
          <label>Between 1 and 3 years</label>
          <input type="text" class="form-control" id="page1" required>
        </div>
          
      </div>


      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="form-group">
          <label>More than 3 years</label>
          <input type="text" class="form-control" id="page2" required>
        </div>
          
      </div>
     
      
  </div>





  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-12">
      <div class="form-group">
        <label>Good Condition</label>
        <input type="text" class="form-control" id="pcondition" required>
      </div>
        
    </div>


    <div class="col-lg-3 col-md-4 col-sm-12">
      <div class="form-group">
        <label>Average Condition</label>
        <input type="text" class="form-control" id="pcondition1" required>
      </div>
        
    </div>


    <div class="col-lg-3 col-md-4 col-sm-12">
      <div class="form-group">
        <label>Below Average Condition</label>
        <input type="text" class="form-control" id="pcondition2" required>
      </div>
        
    </div>
   

    <div class="col-lg-3 col-md-4 col-sm-12">
      <div class="form-group">
      <label>Extended Condition</label>
      <input type="text" class="form-control" id="pcondition3" required>
    </div>
  </div>
    
</div>
      



<div class="row">
  <div class="col-lg-3 col-md-4 col-sm-12">
    <div class="form-group">
      <label>10 Inch Screen Size Price</label>
      <input type="text" class="form-control" id="p10_inch" required>
    </div>
      
  </div>


  <div class="col-lg-3 col-md-4 col-sm-12">
    <div class="form-group">
      <label>12 Inch Screen Size Price</label>
      <input type="text" class="form-control" id="p12_inch" required>
    </div>
      
  </div>


  <div class="col-lg-3 col-md-4 col-sm-12">
    <div class="form-group">
      <label>13 Inch Screen Size Price</label>
      <input type="text" class="form-control" id="p13_inch" required>
    </div>
      
  </div>


  <div class="col-lg-3 col-md-4 col-sm-12">
      <div class="form-group">
      <label>14 Inch Screen Size Price</label>
      <input type="text" class="form-control" id="p14_inch" required>
    </div>
  </div>


 
  
</div>

<div class="row">
<div class="col-lg-12 col-md-12 col-sm-12">
  <div class="form-group">
    <label>15 Inch Screen Size Price</label>
    <input type="text" class="form-control" id="p15_inch" required>
  </div>
    
</div>






</div>



            <button type="button" id='update' class="btn btn-primary">Submit</button>
            </form>
    </div>
    </div>
    
    
    
    <div class="card mb-4" id="updateimagediv">
    <h6 class="card-header"><span><button type="button" class="btn btn-primary show" id="back2" style="margin:10px">Back</button></span> Upload Image</h6>
    <div class="card-body">
    
        <form action="/model/update_image" method="POST" enctype="multipart/form-data">
            <div class="form-row">
       
                <div class="form-group col-md-6">
                    <label class="form-label">ID</label>
                    <input type="text" class="form-control" placeholder="Email" id="peid" name="id" readonly>
                    <div class="clearfix"></div>
                    </div>
    
    
            <div class="form-group col-md-6">
            <label class="form-label">Image</label>
            <input type="file" class="form-control" name='image' placeholder="Password">
            <div class="clearfix"></div>
            </div>
            </div>
            
            
            <button type="submit" class="btn btn-primary">Submit</button>
            </form>
    </div>
    </div>
    
            
              </div>
             
            </div>
          </div>
        </section>
        <div class="settingSidebar">
          <a href="javascript:void(0)" class="settingPanelToggle"> <i class="fa fa-spin fa-cog"></i>
          </a>
       
        </div>
      </div>
      
    </div>
  </div>
  <!-- General JS Scripts -->
  <script src="/light/assets/js/app.min.js"></script>   
  <!-- JS Libraies -->
  <!-- Page Specific JS File -->
  <!-- Template JS File -->
  <script src="/light/assets/js/scripts.js"></script>
  <!-- Custom JS File -->
  <script src="/light/assets/js/custom.js"></script>


  <script src="/javascripts/subcategory.js"></script>

  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
  <script>
  
    $('.uploadImage').submit(function (e) {
      e.preventDefault();
  
      // var title = $('#title').val(); 
  
      $(this).ajaxSubmit({
        // data: {title: title},
        contentType: 'application/json',
        success: function (response) {
          alert('successfully')
        }
      });
      return false;
    });
  
  
  
  </script>

</body>


</html>